ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}
li {
  padding: 0.2rem;
}

.filtering{
  display: flex;
  gap: 2rem;
}

button{
  background-color: var(--text);
  border:none;
  color: var(--background);
  font-size: 1.2rem;
}

.diet-filter{
  overflow: hidden;
  display: none;
}

.diet-collapse:hover{
  cursor: pointer;
}