<div class="filtering">
    
    <div class="diet-collapse" >
        <button type="button" class="filter-title" (click)="showContent()">diet</button>
        <ul class="diet-filter" id="hidden-items">
            <li><input type="checkbox">Pescatarian</li>
            <li><input type="checkbox">Vegetarian</li>
            <li><input type="checkbox">Vegan</li>
            <li><input type="checkbox">Dairy-Free</li>
            <li><input type="checkbox">Egg-Free</li>
            <li><input type="checkbox">Gluten-Free</li>
        </ul>
    </div>
    <button type="button" class="filter-title">cuisine</button>
</div>