.card {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.recipe-output {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding: 1rem;
  justify-content: center;
}

.card-content {
  display: flex;
  flex-direction: column;
}

.recipe-pic {

  object-fit:cover;
}

.card-content:hover {
  cursor: pointer;
}

.recipe-title:hover {
  text-decoration: underline;
}

.recipe-card{
  min-width: 0;
  border: solid 1px black

}