.recipe-output {
  display: flex;
  flex-wrap: wrap;
  gap: 1.58rem;
  padding: 1rem 0rem;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  width: 20rem;
  border: solid 1px black;
}

.card-content {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
}

.image-container {
  width: 100%;
}

.recipe-pic {
  height: auto;
  width: 100%;
}

.recipe-card:hover {
  cursor: pointer;
}

.recipe-title:hover {
  text-decoration: underline;
}

.recipe-card {
  min-width: 0;
}
